<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AC by TalasBogor</title>
    <link rel="stylesheet" href="templates/css/foundation.css">
    <link rel="stylesheet" href="templates/css/app.css">
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
  </head>
  <body>
    <div class="header" id="home">
    <div class="row">
      <div class="large-12 columns">
          <div class="row">
            <div class="navbar">
              <div class="large-10 columns">
                <div class="houtell">
                  Depok, Indonesia
                </div>
              </div>
              <div class="large-2 columns">
                <div class="navlink">
                  <?=$date ?>
                </div>
              </div>
              </3>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="large-12 columns topnav">
              <div class="searchbar">
                <div class="suhu"><?=$systemTemp['data']['system_temp'] ?>° C</div>
                <div class="spec">
                  <?php foreach ($status as $stat): ?>
                  AC-<?=$stat['data']['id'] ?> status: <?=$stat['data']['status'] ?><br>
                  <?php endforeach; ?>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="footer">
                <div class="large-4 columns saklar">
                  Door
                  <select>
                    <option value="Open">Open</option>
                    <option value="Close">Close</option>
                  </select>
                </div>
                <div class="large-4 columns saklar">
                  Window
                  <select>
                    <option value="Open">Open</option>
                    <option value="Close">Close</option>
                  </select>
                </div>
                <div class="large-4 columns saklar">
                  Desk
                  <select>
                    <option value="Occupied">Occupied</option>
                    <option value="Empty">Empty</option>
                  </select>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>