<!DOCTYPE html>
<html>
<header>
	<style>
		table {
		    font-family: arial, sans-serif;
		    border-collapse: collapse;
		    width: 100%;
		}

		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}
	</style>
</header>
<body>

<h1 id="suhuRuangan"> Suhu Ruangan saat ini : </h1>
<div id="container">
	<table id="acTable">
	  <tr>
	    <th>ID</th>
	    <th>Status</th>
	    <th>Last Active</th>
	    <th>Timer</th>
	    <th>Set Timer At</th>
	    <th>Timer Action</th>
	    <th>Temperature</th>
	  </tr>
	</table>
</div>

<script type="text/javascript">
		function updateTemp(theUrl){
	    	httpGetAsync(theUrl, function(response) {
	    		var jsonResponse = JSON.parse(response);
				var table = document.getElementById("acTable");	

				while(table.rows.length > 1) {
				  table.deleteRow(-1);
				}

				var count = 1		

	    		for(var i in jsonResponse.data)
				{
				    var row = table.insertRow(count);
				    count++;

					var cell0 = row.insertCell(0);
					var cell1 = row.insertCell(1);
					var cell2 = row.insertCell(2);
					var cell3 = row.insertCell(3);
					var cell4 = row.insertCell(4);
					var cell5 = row.insertCell(5);
					var cell6 = row.insertCell(6);

					cell0.innerHTML = jsonResponse.data[i].id;
					cell1.innerHTML = jsonResponse.data[i].status;
					cell2.innerHTML = jsonResponse.data[i].last_update;
					cell3.innerHTML = jsonResponse.data[i].timer != null ? jsonResponse.data[i].timer : "0";
					cell4.innerHTML = jsonResponse.data[i].set_timer_at != null ? jsonResponse.data[i].set_timer_at : "-";
					cell5.innerHTML = jsonResponse.data[i].timer_action != null ? jsonResponse.data[i].timer_action : "-";
					cell6.innerHTML = jsonResponse.data[i].temperature;
				}
	    	});
		}

		function httpGetAsync(theUrl, callback)
		{
		    var xmlHttp = new XMLHttpRequest();
		    xmlHttp.onreadystatechange = function() { 
		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
		            callback(xmlHttp.responseText);
		    }
		    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
		    xmlHttp.send(null);
		}

		setInterval(updateTemp, 3000, "http://localhost/ac-ubiquitoused/index?fungsi=get_all_ac");
</script>

</body>
</html>